<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-cog" aria-hidden="true">
          </span> Dashboard <small>Manage Your Site</small></h1>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle"
            type="button" data-toggle="dropdown">Create Content
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to "Add new product", admin_products_new_url %></li>
            <li><%= link_to "Add new brand", admin_brands_new_url %></li>
          </ul>
        </div>
        </div>
      </div>
  </div>
</header>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to admin_index_url, class: "list-group-item active main-color-bg" do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true">
              </span> Dashboard<span class="badge">12</span>
          <% end %>
          <%= link_to admin_brands_url, class: "list-group-item" do %>
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true">
              </span> Brand <span class="badge">12</span>
          <% end %>
          <%= link_to admin_products_url, class: "list-group-item" do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">
              </span> Product <span class="badge">12</span>
          <% end %>
          <%= link_to admin_users_url, class: "list-group-item" do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">
              </span> User<span class="badge">12</span>
          <% end %>
          <%= link_to "", class: "list-group-item" do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">
              </span> Coupon<span class="badge">12</span>
          <% end %>
        </div>
      </div>
